h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

/*div.top-banner {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: lightskyblue;

}*/

div.top-nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
}

div.page-content {
  margin: 80px 100px;
}

div.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7f55ff;
}

div.top-nav li {
    float: right;
}

div.top-nav li a, div.top-nav .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.top-nav li a:hover, div.top-nav .dropdown:hover .dropbtn {
    background-color: #552aff;
}

div.top-nav li.dropdown {
    display: inline-block;
}

div.top-nav .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #d2d2d2;
    min-width: 120px;
    box-shadow: -5px 8px 16px 0px rgba(0,0,0,0.2);
}

/*display for hover*/
div.top-nav .dropdown:hover .dropdown-content {
    display: block;
    right: 0px;
}

div.top-nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

div.top-nav .dropdown-content a:hover {
  background-color: #f1f1f1;
}

