<div class="container">
    <message [msgs]="msgs"></message>
    <div *ngIf="!submitted">
        <h2>Log In</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <h3 class="first">Email</h3>
                <input id="email" type="text" size="30" pInputText required formControlName="email" />
                <span class="alert alert-danger" *ngIf="formErrors['email']">{{formErrors['email']}}</span>
            </div>
            <div class="form-group">
                <h3 class="first">Password</h3>
                <input id="password" type="password" size="30" pInputText required formControlName="password" />
                <span class="alert alert-danger" *ngIf="formErrors['password']">{{formErrors['password']}}</span>
            </div>
            <br>
            <div class="form-group">
                <button type="submit" pButton type="text" (click)="onSubmit()" [disabled]="loginForm.invalid" label="Log In"></button>
            </div>
        </form>
    </div>
    <!--<div>{{loginInfo.email}}+{{loginInfo.password}} </div>-->
    <!--<div>{{email.className}}+{{password.className}}</div>-->
</div>