<div class="container">
    <message [msgs]="msgs"></message>
    <div *ngIf="!submitted">
        <h2>Sign Up</h2>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <h3 class="first">Email</h3>
                <input id="email" type="text" size="30" pInputText required formControlName="email" />
                <span class="alert alert-danger" *ngIf="formErrors['email']">{{formErrors['email']}}</span>
            </div>
            <div class="form-group">
                <h3 class="first">User Name</h3>
                <input id="name" type="text" size="30" pInputText required formControlName="name" />
                <span class="alert alert-danger" *ngIf="formErrors['name']">{{formErrors['name']}}</span>
            </div>
            <div class="form-group">
                <h3 class="first">Password</h3>
                <input id="password" type="password" size="30" pInputText required formControlName="password" />
                <span class="alert alert-danger" *ngIf="formErrors['password']">{{formErrors['password']}}</span>
            </div>
            <div class="form-group">
                <h3 class="first">Confirm Password</h3>
                <input id="password_confirmation" type="password" size="30" pInputText required formControlName="password_confirmation" />
                <span class="alert alert-danger" *ngIf="formErrors['password_confirmation']">{{formErrors['password_confirmation']}}</span>
            </div>
            <br>
            <div class="form-group">
                <button type="submit" pButton type="text" (click)="onSubmit()" [disabled]="signupForm.invalid" label="Sign Up"></button>
            </div>
        </form>
    </div>
</div>